body{
    background-color: black;
    background-attachment: fixed;
}
.main{
    text-align: center;
    height: 55%;
    width: 100%;
    color: #fff;
}
.heading{
    margin-top: 20%;
    font-size: 60px;
}
p{
    color: #fff;
    font-size: 20px;
}